<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div>

  <div class="row text-center text-lg-left">

    <div *ngFor="let movie of movies" class="col-lg-3 col-md-4 col-xs-6">
      <div class="thumbnail">
        <a [routerLink]="['/home','movie',movie?.id]" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="http://image.tmdb.org/t/p/w342{{movie?.posterPath}}" alt="">
          <h3 class="btn">{{movie?.title}}</h3>
        </a>
      </div>
    </div>

  </div>


</div>